<a href="https://colab.research.google.com/github/musfikuroli/AI_Assignment/blob/main/62_Titanic_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Name: **Titanic (Kaggle)**

<u>Notebook Created by:</u>

Name: **Md. Musfikur Hasan Oli** <br>
Roll: **62** <br>
Reg. No: **2018-725-357**

This Python code block uses the os module to list all files in the './data' directory and its subdirectories. It imports the numpy and pandas libraries, which are commonly used for numerical and data analysis, respectively. The code uses the os.walk function to traverse the directory structure, and it prints the full path of each file in the directory.

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

for root, dirs, files in os.walk('./data'):
    for file in files:
        print(os.path.join(root, file))

./data/train.csv
./data/test.csv

This code block reads the train.csv file into a Pandas dataframe named train_data. The pd.read_csv function is used to read the data from the file and store it in a dataframe.

The train_data.head() function is used to display the first five rows of the train_data dataframe. The head function is a convenient way to get a quick overview of the data, and it is often used for exploratory data analysis.

In [ ]:
train_data = pd.read_csv("./data/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

This code block reads a file named "test.csv" located in a subdirectory named "data" and stores it as a Pandas dataframe named test_data. The pd.read_csv function is used to read the data from the file and store it in the dataframe.

The test_data.head() function is used to display the first five rows of the test_data dataframe. The head function is a convenient way to get a quick overview of the data, and it is often used for exploratory data analysis.

In [ ]:
test_data = pd.read_csv("./data/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

This code block calculates the survival rate of women in a train dataset stored in the train_data Pandas dataframe.

Subsetting the data: The line women = train_data.loc[train_data.Sex == 'female']["Survived"] uses boolean indexing to subset the train_data dataframe and extract only the rows where the Sex column is equal to 'female'. The resulting subset is stored in the women variable.

Calculating the survival rate: The line rate_women = sum(women)/len(women) calculates the survival rate of women by dividing the sum of the Survived column of the women subset by the length of the women subset.

Printing the result: The line print("% of women who survived:", rate_women) prints the result of the calculation, which is the percentage of women who survived.

In [ ]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_of_women = sum(women)/len(women)

print("Percentage (%) of Women Who Survived:", rate_of_women)

Percentage (%) of Women Who Survived: 0.7420382165605095

This code block calculates the survival rate of men in a train dataset stored in the train_data Pandas dataframe.

Subsetting the data: The line men = train_data.loc[train_data.Sex == 'male']["Survived"] uses boolean indexing to subset the train_data dataframe and extract only the rows where the Sex column is equal to 'male'. The resulting subset is stored in the men variable.

Calculating the survival rate: The line rate_men = sum(men)/len(men) calculates the survival rate of men by dividing the sum of the Survived column of the men subset by the length of the men subset.

Printing the result: The line print("% of men who survived:", rate_men) prints the result of the calculation, which is the percentage of men who survived.

In [ ]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_of_men = sum(men)/len(men)

print("Percentage (%) of Men Who Survived:", rate_of_men)

Percentage (%) of Men Who Survived: 0.18890814558058924

This code trains a logistic regression model to predict survival on the Titanic using passenger data from a train dataset and applies the trained model to make predictions on a test dataset. The predictions are then saved to a file.

Imports the pandas and LogisticRegression classes from the sklearn library.

Sets the target for the model to be the "Survived" column from the train_data dataframe.

Selects the feature columns for the model to be the "Pclass", "Sex", "SibSp", and "Parch" columns.

One-hot encodes the selected features in both the train_data and test_data dataframes to create train_inputs and test_inputs.

Trains a logistic regression model on the train_inputs and target data.

Makes predictions on the test_inputs data and stores the results in the predictions variable.

Evaluates the accuracy of the model on the train_inputs and target data.

Writes the predictions to a csv file named "62_Submission.csv", which includes the PassengerId and Survived columns from the test_data dataframe.

Prints a confirmation message indicating the submission file was successfully saved.

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

target = train_data["Survived"]
features = ["Pclass", "Sex", "SibSp", "Parch"]
train_inputs = pd.get_dummies(train_data[features])
test_inputs = pd.get_dummies(test_data[features])

model = LogisticRegression(random_state=0).fit(train_inputs, target)
predictions = model.predict(test_inputs)

print("Train data accuracy:", model.score(train_inputs, target))

submission_data = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
submission_file = '62_Submission.csv'
submission_data.to_csv(submission_file, index=False)

print("Submission has been saved to", submission_file)

Train data accuracy: 0.8002244668911336
Submission has been saved to 62_Submission.csv